<ion-header>

    <ion-navbar color="primary" text-center>
        <ion-title>{{"LOGIN.LOGIN" | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="div90" text-center>

        <div margin-top ion-text color="primary">{{"LOGIN.EXISTINGUSER" | translate}}</div>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder='{{"ALL.EMAIL" | translate}}' type="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder='{{"ALL.PASSWORD" | translate}}' type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>

        </ion-list>

        <button class="button-no-border" *ngIf="language === 'he'" ion-button outline no-border color="primary" (click)="authenticate()">
            {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
        </button>

        <button class="button-no-border" *ngIf="language === 'en'" ion-button outline no-border color="primary" (click)="authenticate()">
            {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
        </button>

    </div>

    <div margin-top class="login-bar" float-left (click)="goToRegister()">
        <span>{{"LOGIN.NEWUSER" | translate}}</span>
    </div>

    <div margin-top class="login-bar" float-left (click)="showForgotPopup()">
        <span>{{"LOGIN.FORGOTPASSWORD" | translate}}</span>
    </div>

</ion-content>
