page-register {
  ion-select {
    width: 100%;
    max-width: 100% !important;
  }

  .validator {
    margin-top: 10px;
    color: red;
    text-align: left;
  }

  .green {
    position: absolute;
    top: 10px;
    left: 20px;

    ion-icon {
      color: green;
      font-size: 30px;
      font-weight: bold;
      z-index: 100;
    }
  }

}
