<ion-header>
    <ion-navbar color="primary" text-center>
        <ion-title>{{"REGISTER.REGISTER" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="div90" text-center>

        <form [formGroup]="form" (submit)="submit()">

            <ion-row margin-top>
              <ion-col col-12>
                  <ion-input text-center type="email" id="email" name="email" placeholder='{{"ALL.EMAIL" | translate}}' formControlName="email"></ion-input>
                  <div class="green" *ngIf="!form.controls.email.hasError('required') && !form.controls.email.hasError('email')"><ion-icon name="checkmark"></ion-icon></div>
              </ion-col>
            </ion-row>

            <ion-row margin-top>
                <ion-col col-12>
                    <ion-input text-center type="password" id="password" placeholder='{{"ALL.PASSWORD" | translate}}' formControlName="password"></ion-input>
                    <div class="green" *ngIf="!form.controls.password.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
                </ion-col>
            </ion-row>

            <ion-row margin-top>
                <ion-col col-12>
                    <ion-input text-center type="password" id="password_confirmation" placeholder='{{"ALL.PASSWORDCONFIRMATION" | translate}}' formControlName="password_confirmation"></ion-input>
                    <div class="green" *ngIf="!form.controls.password_confirmation.hasError('required') && !form.hasError('mismatchedPasswords')"><ion-icon name="checkmark"></ion-icon></div>
                </ion-col>
            </ion-row>

            <ion-row margin-top>
                <ion-col col-12>
                    <ion-input text-center placeholder='{{"ALL.NAME" | translate}}' id="name" formControlName="name"></ion-input>
                    <div class="green" *ngIf="!form.controls.name.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
                </ion-col>
            </ion-row>

            <ion-row margin-top>
                <ion-col col-12>
                    <ion-input text-center type="tel" id="phone" placeholder='{{"ALL.PHONE" | translate}}' formControlName="phone"></ion-input>
                    <div class="green" *ngIf="!form.controls.phone.hasError('required') && form.controls.phone.valid"><ion-icon name="checkmark"></ion-icon></div>
                </ion-col>
            </ion-row>

            <ion-row margin-top>
                <ion-col col-12>
                    <ion-select formControlName="country" id="country">
                        <ion-option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</ion-option>
                    </ion-select>
                    <div class="green" *ngIf="!form.controls.country.hasError('required')"><ion-icon name="checkmark"></ion-icon></div>
                </ion-col>
            </ion-row>

            <button margin-vertical class="button-no-border" *ngIf="language === 'he'" [disabled]="form.invalid" ion-button outline no-border no-margin color="primary" type="submit">
                {{"ALL.CONNECT" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
            </button>

            <button margin-vertical class="button-no-border" *ngIf="language === 'en'" [disabled]="form.invalid" ion-button outline no-border no-margin color="primary" type="submit">
                {{"ALL.CONNECT" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
            </button>

        </form>


    </div>

    <div class="login-bar" margin-bottom float-left (click)="goToLogin()">
        <span>{{"REGISTER.EXISTINGUSER" | translate}}</span>
    </div>


</ion-content>
