page-lead {

  ion-item {
    padding-right: 0 !important;

    .item-inner {
      padding-left: 0 !important;
    }
  }

  .item-datetime {
    background: color($colors, light) !important;

    ion-label {
      width: 50%;
      max-width: 50%;
      color: #999;
      padding-left: 8px;
      padding-right: 8px;
    }

    ion-datetime {
      width: 50%;
      min-width: 50%;
    }

  }

  textarea {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}
