<ion-header>

    <common-header title='{{"LEAD.LEAD" | translate}}'></common-header>

</ion-header>

<ion-content>

    <div class="div90" text-center>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder='{{"LEAD.NUMBEROFPERSONS" | translate}}' type="number" [(ngModel)]="lead.quantity"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-label>{{"LEAD.STARTDATE" | translate}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="lead.start"></ion-datetime>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding" *ngIf="is_hotel === 1">
                <ion-label>{{"LEAD.ENDDATE" | translate}}</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="lead.end"></ion-datetime>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-textarea placeholder='{{"LEAD.COMMENTS" | translate}}' [(ngModel)]="lead.comments"></ion-textarea>
            </ion-item>

        </ion-list>

        <button class="button-no-border" *ngIf="language === 'he'" ion-button outline no-border color="primary" (click)="send()">
            {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
        </button>

        <button class="button-no-border" *ngIf="language === 'en'" ion-button outline no-border color="primary" (click)="send()">
            {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
        </button>

    </div>

</ion-content>
