page-reviews {
  .item-end[fixed] {
    width: 50%;
  }

  .customPlaceholder input {
    text-align: center !important;
  }

  .search-row {
    background-color: color($colors, light);
  }

  ion-row[approxheaderwidth]{
    width: 100% !important;
  }

  .comment-input {
    background-color: transparent !important;
    border: 1px solid lightgrey !important;
    margin: 5px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    width: 100%;

    input {
      margin: 5px auto !important;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  video {
    max-height: 35vh;
  }
}
