<ion-header>

  <common-header title='{{"ALL.USERREVIEWS" | translate}}'></common-header>

</ion-header>

<ion-content>

  <div *ngIf="videos && videos.length">

    <div *ngFor="let video of videos">

      <ion-row *ngIf="video.user">
        <ion-item>
          <ion-avatar item-start (click)="goToUser(video.user.id)">
            <img [src]="video.user.avatar" *ngIf="video && video.user && video.user.avatar !== ''">
            <img src="assets/images/avatar.jpg" *ngIf="video && video.user && video.user.avatar === ''">
          </ion-avatar>
          <div style="padding-right: 15px;">
            <span (click)="goToUser(video.user.id)">{{video.user.name}}</span>
          </div>
          <div item-end fixed *ngIf="video.user.id && video.user.id !== user.id">
            <button ion-button color="primary" (click)="follow(video.user.id)" *ngIf="video.user.followed === 0">{{"FEED.FOLLOW" | translate}}</button>
            <button ion-button color="light" (click)="unfollow(video.user.id)" *ngIf="video.user.followed === 1">{{"FEED.UNFOLLOW" | translate}}</button>
          </div>
        </ion-item>
      </ion-row>

      <ion-row justify-content-start text-center style="width: 100%; margin: 0 auto;">

        <div>
          <video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>
        </div>

      </ion-row>

      <ion-row align-items-center>
        <ion-col col-10 text-start>
          <div><b>{{video.title}}</b></div>
          <div>{{video.company_category}} / {{video.company_subcategory}} / {{video.region}}</div>
        </ion-col>
        <ion-col col-2 text-center>
          <ion-icon name="share-alt" class="share-icon" (click)="share(video)"></ion-icon>
        </ion-col>
      </ion-row>

    </div>

  </div>

  <ion-infinite-scroll (ionInfinite)="getMoreVideos($event)" *ngIf="!lastPage">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
  <common-footer></common-footer>
</ion-footer>