<ion-header>

    <ion-navbar color="primary" text-center dir="rtl">
        <ion-buttons right>
            <button ion-button (click)="goToUpload()">
                <img src="assets/images/upload_movie.png" height="30">
            </button>
        </ion-buttons>
        <ion-title>{{company.title}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-grid no-padding>

        <ion-row *ngIf="company.main_video" dir="ltr">
            <!--<video [src]="company.main_video" controls controlsList="nodownload" poster="{{company.thumbnail}}"></video>-->
            <video my-video [source]="company.main_video" controls controlsList="nodownload" poster="{{company.thumbnail}}"></video>
        </ion-row>

        <ion-row justify-content-center align-items-center>
            <ion-col col-6 ion-button color="primary" block (click)="goToLead()">{{"COMPANY.PRICEPROPOSAL" | translate}}</ion-col>
            <ion-col col-6>
                <ion-row margin-vertical>
                    <ion-col col-3 text-center (click)="navigate()">
                        <img src="assets/images/company_icon_4.png" height="30">
                    </ion-col>
                    <ion-col col-3 text-center (click)="shareVideo()">
                        <ion-icon name="share" style="font-size: 33px; color: #690079"></ion-icon>
                    </ion-col>
                    <ion-col col-3 text-center (click)="call()">
                        <img src="assets/images/company_icon_2.png" height="30">
                    </ion-col>
                    <ion-col col-3 text-center (click)="goToCoupons()">
                        <img src="assets/images/company_icon_3.png" height="30">
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-item class="itemBack">
            <ion-label fixed no-margin>
                <img [src]="company.logo" *ngIf="company.logo">
                <img src="assets/images/logo.png" *ngIf="!(company.logo)">
            </ion-label>
            <div item-content padding-vertical>
                <div>
                    <b>{{company.title}}</b>
                    <ion-icon *ngFor="let star of company.stars" (click)="showRatePopup();" name="ios-star" [ngClass]="{'yellow-star': star === true, 'grey-star': star === false}"></ion-icon>
                </div>
                <div class="smallText">{{company.address}}</div>
                <div class="smallText" padding-top (click)="openedDescription = !openedDescription">
                    <div *ngIf="company.description && !openedDescription">{{company.description | truncate }}</div>
                    <div *ngIf="company.description && openedDescription">{{company.description}}</div>
                </div>
            </div>
        </ion-item>

        <ion-row ion-text color="primary" padding-horizontal><h5>{{"COMPANY.VISITORREVIEWS" | translate}}</h5></ion-row>

        <div *ngFor="let video of company.videos">
        <!--<div [virtualScroll]="company.videos">-->

            <ion-row justify-content-start>
            <!--<ion-row justify-content-start *virtualItem="let video">-->

                <ion-col col-12 class="small-video">
                    <div><video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video></div>
                    <ion-row>
                        <ion-col col-6 text-start><b>{{video.user.name}}</b></ion-col>
                        <ion-col col-6 text-end>{{video.date}}</ion-col>
                    </ion-row>
                    <ion-row><ion-col col-12><b>{{video.pivot.tag}}</b></ion-col></ion-row>
                </ion-col>

            </ion-row>

        </div>

    </ion-grid>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>
