page-company {

  ion-content, ion-item {
    background: color($colors, light) !important;
  }

  ion-item {
    padding: 0 !important;
  }

  .singleVideo {
    width: 100%;
    max-height: 35vh;
    height: 35vh;
  }

  video {
    width: 100%;
    max-height: 35vh;
  }

  ion-label[fixed] {
    width: 30%;
    padding: 5px;
  }

  .item .item-inner {
    padding: 0 !important;
  }

  .smallText {
    font-size: 80%;
  }

  .itemBack {
    background-color: white !important;
  }

  .itemBack .item-inner {
    border-bottom-width: 0 !important;
  }

}
