<ion-navbar color="primary" text-center dir="rtl">
    <ion-buttons right>
        <button ion-button clear (click)="goToUser()">
            <div *ngIf="avatar !== ''" class="avatar" background-image [source]="avatar" height="34"></div>
            <div *ngIf="avatar === ''" class="avatar" background-image [source]="'assets/images/avatar.jpg'" height="34"></div>
        </button>
    </ion-buttons>
    <ion-title>
        <img src="assets/images/header_logo.png" style="height: 45px; padding-top: 5px;" *ngIf="language === 'he'">
        <img src="assets/images/header_logo_en.png" style="height: 45px; padding-top: 5px;" *ngIf="language === 'en'">
    </ion-title>
    <ion-buttons left>
        <div class="points" float-left>
            <div>{{points}}</div>
            <div>$Y</div>
        </div>
        <button ion-button menuToggle right class="menu-button">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <div class="row100" *ngIf="uploadProcess">
        <div class="progress-bar-empty" [style.width]="empty + '%'"></div>
        <div class="progress-bar-full" [style.width]="full + '%'"></div>
    </div>
</ion-navbar>