<ion-header>

    <common-header title='{{"ALL.EDIT" | translate}}'></common-header>

</ion-header>

<ion-content>

    <div class="div90" text-center padding-top>

        <ion-row *ngIf="user.avatar !== ''" align-items-center>

            <ion-col col-4>

                <img [src]="user.avatar" width="80" *ngIf="localProgress === false">

                <div *ngIf="localProgress === true">
                    <ion-spinner name="ios"></ion-spinner>
                    <div>{{"ALL.UPLOADINGINPROGRESS" | translate}}: {{progress}}%</div>
                </div>

            </ion-col>
            <ion-col col-4>
                <button ion-button small [disabled]="localProgress" color="primary" (click)="deleteAvatar()">{{"ALL.DELETE" | translate}}</button>
            </ion-col>
            <ion-col col-4>
                <button [disabled]="localProgress" ion-button small color="primary" add-picture (targetLogo)="updateAvatar($event)">{{"ALL.UPDATE" | translate}}</button>
            </ion-col>

        </ion-row>

        <ion-row *ngIf="user.avatar === ''">

            <button [disabled]="localProgress" ion-button block color="primary" add-picture (targetLogo)="setAvatar($event)">{{"EDIT.ADDAVATAR" | translate}}</button>

        </ion-row>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"ALL.NAME" | translate}}' text-center [(ngModel)]="user.name"></ion-input>
            </ion-item>

            <ion-item class="deleteLeftPadding" margin-top>
                <ion-input type="tel" dir="ltr" text-center placeholder='{{"ALL.PHONE" | translate}}' [(ngModel)]="user.phone"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding" text-center>
                <ion-select [(ngModel)]="user.country">
                    <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item margin-top text-center>
                <button class="button-no-border" *ngIf="language === 'he'" ion-button outline color="primary" (click)="update()">
                    {{"ALL.UPDATE" | translate}}&nbsp; <img src="assets/images/arrows_left.png" height="25">
                </button>

                <button class="button-no-border" *ngIf="language === 'en'" ion-button outline color="primary" (click)="update()">
                    {{"ALL.UPDATE" | translate}}&nbsp; <img src="assets/images/arrows_right.png" height="25">
                </button>
            </ion-item>

            <ion-item class="deleteLeftPadding">
                <ion-input text-center placeholder='{{"EDIT.OLDPASSWORD" | translate}}' type="password" [(ngModel)]="passwords.old_password"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder='{{"EDIT.NEWPASSWORD" | translate}}' type="password" [(ngModel)]="passwords.new_password"></ion-input>
            </ion-item>

            <ion-item margin-top text-center>
                <button class="button-no-border" *ngIf="language === 'he'" ion-button outline color="primary" (click)="updatePassword()">
                    {{"EDIT.UPDATEPASSWORD" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
                </button>

                <button class="button-no-border" *ngIf="language === 'en'" ion-button outline color="primary" (click)="updatePassword()">
                    {{"EDIT.UPDATEPASSWORD" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
                </button>
            </ion-item>

        </ion-list>

    </div>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>