<ion-header>

    <common-header title='{{"ADDITIONAL.STEP2" | translate}}'></common-header>

</ion-header>

<ion-content>

    <div class="div90">


        <!--<div class="fakeInput" (click)="alertVideo()"> העלה סרטון +</div>-->

        <div>
            <video *ngIf="src" [src]="src" controls controlsList="nodownload"></video>
        </div>

        <div  margin-top class="fakeInput" add-video (targetVideo)="setVideo($event)"> {{"ADDITIONAL.UPLOADVIDEO" | translate}} +</div>

        <!--<div class="fakeInput" (click)="alertLogo()"> העלה לוגו +</div>-->

        <div margin-top>
            <img *ngIf="logo" [src]="logo.url">
        </div>

        <div margin-top class="fakeInput" add-picture (targetLogo)="setLogo($event)"> {{"ADDITIONAL.UPLOADLOGO" | translate}} +</div>

        <div margin-top>
            <button ion-button block color="primary" (click)="send()">{{"ALL.SEND" | translate}}</button>
        </div>

        <div>
            <button ion-button margin-top block color="light" (click)="alertUser()">{{"ADDITIONAL.SKIP" | translate}}</button>
        </div>

    </div>

</ion-content>
