<ion-header>

    <ion-navbar color="primary" text-center>
        <ion-buttons right>
            <button ion-button clear (click)="goToEdit()">{{"ALL.EDIT" | translate}}</button>
        </ion-buttons>
        <ion-title>{{"MENU.PROFILE" | translate}}</ion-title>
        <ion-buttons left>
            <button ion-button menuToggle right>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-row margin-top align-items-center>
        <ion-col col-6>
            <ion-row>
                <ion-col col-4>
                    <div *ngIf="user.avatar !== ''" class="user-avatar" background-image [source]="user.avatar" height="50"></div>
                    <div *ngIf="user.avatar === ''" class="user-avatar" background-image [source]="'assets/images/avatar.jpg'" height="50"></div>
                </ion-col>
                <ion-col col-8>
                    <div>{{user.name}}</div>
                    <div style="font-size: 12px;">{{user.phone}}</div>
                    <ion-row no-padding>
                        <ion-col col-4 text-center no-padding>
                            <img style="padding-top: 3px;" src="assets/images/coin.png" height="26">
                        </ion-col>
                        <ion-col col-8 no-padding>
                            <div class="points-text">{{"PROFILE.POINTS" | translate}}</div>
                            <div>{{user.points}} <img src="assets/images/coin_icon.png" height="14" style="padding-top: 2px;"></div>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-6>
            <ion-row text-center ion-text color="primary">
                <ion-col col-4>
                    <div>{{user.followers}}</div>
                    <div class="small-font">{{"ALL.FOLLOWERS" | translate}}</div>
                </ion-col>
                <ion-col col-4>
                    <div>{{user.videos.length}}</div>
                    <div class="small-font">{{"ALL.VIDEOS" | translate}}</div>
                </ion-col>
                <ion-col col-4>
                    <div>{{user.coupons.length}}</div>
                    <div class="small-font">{{"ALL.PURCHASES" | translate}}</div>
                </ion-col>
            </ion-row>
        </ion-col>
        <div class="vertical-line"></div>
    </ion-row>

    <div text-center *ngIf="user.videos && user.videos.length > 0">
        <div ion-button small>{{"PROFILE.MYVIDEOS" | translate}}</div>
    </div>

    <div *ngIf="user.videos && user.videos.length > 0">

        <ion-scroll scrollX="true">

            <div *ngFor="let video of user.videos" class="video-block small-video" text-center dir="ltr" padding-top>

                <div class="close-icon" (click)="showDeletePopup(video.id)">
                    <ion-icon name="close-circle"></ion-icon>
                </div>
                <video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>
                <div padding-top>{{video.pivot.tag}}</div>

            </div>

        </ion-scroll>

    </div>

    <div text-center *ngIf="user.coupons && user.coupons.length > 0">
        <div ion-button small>{{"PROFILE.MYCOUPONS" | translate}}</div>
    </div>

    <ion-list no-lines class="coupons" margin-top padding-horizontal>

        <ion-row nowrap align-items-stretch *ngFor="let coupon of user.coupons" [ngClass]="{disabled: coupon.pivot.used === 1}">

            <ion-col no-border no-padding no-margin class="company-logo" (click)="goToCoupon(coupon, coupon.pivot.used, 'content')">
                <div background-image [source]="coupon.image" *ngIf="coupon.image !== ''"></div>
                <div background-image [source]="coupon.company.logo" *ngIf="coupon.image === ''"></div>
                <div background-image [source]="'assets/images/logo.png'" *ngIf="coupon.company.logo === '' && coupon.image === ''"></div>
            </ion-col>
            <ion-col col-7 (click)="goToCoupon(coupon, coupon.pivot.used, 'content')" style="position: relative;">
                <div><b>{{coupon.title}}</b></div>
                <div>{{coupon.company.title}}</div>
                <div class="coupon-price"> {{coupon.price}} <img src="assets/images/coin_icon_white.png" class="coin-icon"></div>
            </ion-col>
            <ion-col col-2 text-center align-self-center (click)="goToCoupon(coupon, coupon.pivot.used, 'qr')">
                <img src="assets/images/qr.svg">
            </ion-col>

        </ion-row>

    </ion-list>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>