page-profile {

  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .company-logo {
    padding-right: 5px !important;
    div {
      width: 100%;
      height: 100%;
    }
  }

  .coupon-price {
    background: color($colors, primary) !important;
    color: color($colors, secondary) !important;
    padding: 5px;
    width: 30%;
    text-align: center;
    margin-top: 3.5vh;
  }

  .small-font {
    font-size: 10px;
  }

  ion-label[fixed] {
    width: 30%;
    padding: 5px;
  }

  .price {
    background-color: color($colors, primary);
    color: white;
    font-size: 23px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 13px;
    padding-top: 11px;
  }

  .coupons {
    ion-item {
      border: 1px dashed black !important;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .scrub-bar {
    bottom: 25px;
  }

  ion-scroll {
    height: 25vh;
    white-space: nowrap;
  }

  .video-block {
    display: inline-block;
    height: 25vh;
    width: 60vw;
    padding: 10px;
    position: relative;
  }


  .close-icon {
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 100;

    ion-icon {
      font-size: 25px;
      color: white;
    }

  }

  .vertical-line {
    position: absolute;
    top: 16px;
    left: 50%;
    height: 75px;
    width: 1px;
    background-color: black;
  }

  .points-text {
    font-size: 8px;
    color: color($colors, primary);
    font-weight: bold;
  }

  .coin-icon {
    height: 14px;
    padding-top: 4px;
  }

}
