page-enter {
  ion-content {
    background: color($colors, primary) !important;
  }

  h1 {
    color: color($colors, secondary) !important;
  }

  iframe {
    width: 100%;
    min-height: 30vh;
  }

  .welcome {
    margin-top: 10vh;
  }

  .langButton {
    margin-top: 20vh;
  }
}
