<ion-content text-center>

    <div class="welcome">
        <h1>{{"ENTER.WELCOMETO" | translate}}</h1>
        <img src="assets/images/header_logo.png">
    </div>
    <div class="langButton">
        <button ion-button color="secondary" outline (click)="selectLanguage()">{{"ENTER.SELECTLANGUAGE" | translate}}</button>
    </div>

    <div class="langButton">
        <button ion-button color="secondary" outline (click)="goToRegister()">{{"ENTER.STARTNOW" | translate}}</button>
    </div>

</ion-content>
