<ion-toolbar no-padding>
    <ion-grid>
        <ion-row text-center>
            <ion-col (click)="goToHome()">
                <div><img src="assets/images/home.png"></div>
                <div ion-text color="primary">{{"MENU.HOMEPAGE" | translate}}</div>
            </ion-col>
            <ion-col (click)="goToCoupons()">
                <div><img src="assets/images/gift.png"></div>
                <div ion-text color="primary">{{"MENU.SHOP" | translate}}</div>
            </ion-col>
            <ion-col (click)="goToMap()">
                <div><img src="assets/images/map.png"></div>
                <div ion-text color="primary">{{"MENU.MAP" | translate}}</div>
            </ion-col>
            <ion-col (click)="goToNetwork()">
                <div><img src="assets/images/social_network.png"></div>
                <div ion-text color="primary">{{"MENU.NETWORK" | translate}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>
