<ion-header>
    <common-header title='{{"MENU.CONTACT" | translate}}'></common-header>
</ion-header>


<ion-content>

    <div class="div90">

        <form [formGroup]="form">

            <ion-row padding-top>
                <ion-col col-12>
                    <ion-input type="text" dir={{dir}} formControlName="title" placeholder='{{"CONTACT.TITLE" | translate}}'></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <ion-textarea rows='10' formControlName="content" placeholder='{{"CONTACT.CONTENT" | translate}}'></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 text-center>
                    <button [disabled]="form.invalid" class="button-no-border" *ngIf="language === 'he'" ion-button outline no-border color="primary" (click)="submit()">
                        {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
                    </button>

                    <button [disabled]="form.invalid" class="button-no-border" *ngIf="language === 'en'" ion-button outline no-border color="primary" (click)="submit()">
                        {{"ALL.SEND" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
                    </button>
                </ion-col>
            </ion-row>


        </form>


    </div>

</ion-content>
