<ion-header>

    <picture-header></picture-header>

</ion-header>

<ion-content>

    <ion-scroll text-center scrollX="true">

        <div class="friends">
            <div class="friend" background-image [source]="'assets/images/social_network.png'" height="50" (click)="goToNetwork()"></div>
        </div>
        <div *ngFor="let user of init.following" class="friends">
            <div (click)="goToUser(user.id)" class="friend" background-image [source]="user.avatar" *ngIf="user.avatar !== ''"  height="50"></div>
            <div (click)="goToUser(user.id)" class="friend" background-image [source]="'assets/images/avatar.jpg'" *ngIf="user.avatar === ''" height="50"></div>
        </div>

    </ion-scroll>

    <ion-grid no-padding>

        <ion-row justify-content-center align-items-center class="search-row custom-border">

            <ion-col col-4>
                <ion-select interface="action-sheet" [(ngModel)]="region">
                    <ion-option [value]="0">{{"ALL.REGION" | translate}}</ion-option>
                    <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col col-4>
                <ion-select interface="action-sheet" [(ngModel)]="category">
                    <ion-option [value]="0">{{"ALL.CATEGORY" | translate}}</ion-option>
                    <ion-option *ngFor="let category of company_categories" [value]="category.id">{{category.title}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col col-4 text-center>
                <button class="search-button" ion-button clear color="primary" (click)="goToCompanies(category, region)">
                    <ion-icon name="search"></ion-icon>&nbsp;<b>{{"ALL.SEARCH" | translate}}</b>
                </button>
            </ion-col>

        </ion-row>

        <ion-row class="imageRow">
            <ion-col col-6 (click)="goToCompanies(1, 0)" *ngIf="language === 'he'" background-image [source]="'assets/images/main_pictures/hotels_he.jpg'"></ion-col>
            <ion-col col-6 (click)="goToCompanies(1, 0)" *ngIf="language === 'en'" background-image [source]="'assets/images/main_pictures/hotels_en.jpg'"></ion-col>

            <ion-col col-6 (click)="goToCompanies(2, 0)" *ngIf="language === 'he'" background-image [source]="'assets/images/main_pictures/restaurants_he.jpg'"></ion-col>
            <ion-col col-6 (click)="goToCompanies(2, 0)" *ngIf="language === 'en'" background-image [source]="'assets/images/main_pictures/restaurants_en.jpg'"></ion-col>
        </ion-row>

        <ion-row class="imageRow">
            <ion-col col-6 (click)="goToCompanies(3, 0)" *ngIf="language === 'he'" background-image [source]="'assets/images/main_pictures/attractions_he.jpg'"></ion-col>
            <ion-col col-6 (click)="goToCompanies(3, 0)" *ngIf="language === 'en'" background-image [source]="'assets/images/main_pictures/attractions_en.jpg'"></ion-col>
            <ion-col col-6 (click)="goToCompanies(4, 0)" *ngIf="language === 'he'" background-image [source]="'assets/images/main_pictures/parties_he.jpg'"></ion-col>
            <ion-col col-6 (click)="goToCompanies(4, 0)" *ngIf="language === 'en'" background-image [source]="'assets/images/main_pictures/parties_en.jpg'"></ion-col>
        </ion-row>

    </ion-grid>

    <ion-toolbar class="home-footer" no-padding text-center>
            <div class="home-footer-inner" (click)="goToCoupons()">
                <div><img src="assets/images/gift.png"></div>
                <div ion-text color="primary">{{"MENU.SHOP" | translate}}</div>
            </div>
            <div class="home-footer-inner" (click)="goToCode()">
                <div><img src="assets/images/code.png"></div>
                <div ion-text color="primary">{{"FACEBOOK.CODE" | translate}}</div>
            </div>
            <div class="home-footer-inner" (click)="goToMap()">
                <div><img src="assets/images/map.png"></div>
                <div ion-text color="primary">{{"MENU.MAP" | translate}}</div>
            </div>
            <div class="home-footer-inner" (click)="goToUpload()">
                <div><img src="assets/images/v.png"></div>
                <div ion-text color="primary">{{"MENU.UPLOAD" | translate}}</div>
            </div>
    </ion-toolbar>

    <ion-toolbar no-padding class="home-footer-div" *ngIf="banner" (click)="goToBanner()">
        <img [src]="banner.image" *ngIf="banner.image" style="width: 100%;">
    </ion-toolbar>

</ion-content>
