@import "../../theme/variables.scss";

page-home {

  .search-button {
    padding-left: 8px !important;
    padding-right: 8px !important;
    max-height: 36px !important;
    margin: 0 !important;
  }

  .search-row {
    ion-col {
      max-height: 36px !important;
    }
  }

  ion-content {
    background: color($colors, light) !important;
    height: 100vh;
  }

  ion-scroll{
    height: 52px;
    margin: 0;
    white-space: nowrap;
  }

  ion-navbar {
    height: 6vh !important;
  }

  .friends {
    display: inline-block;
  }

  .friend {
    width: 50px;
    margin: 0 5px;
    height: 50px;
    border-radius: 25px;
  }

  .search-row {
    height: 7vh !important;
  }

  ion-select {
    max-width: 100% !important;
    //font-size: $h6-font-size;
    color: color($colors, primary) !important;
  }

  .custom-border {
    border-top: 2px solid color($colors, primary) !important;
    margin-top: 3px;
  }

  //.textOverImage {
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  color: white;
  //  font-size: $h4-font-size;
  //}

  .imageRow, .imageRow img {
    height: 23vh !important;
    max-height: 23vh !important;
  }

  ion-icon {
    font-size: $h4-font-size;
  }

  .home-footer {
    width: 100%;
    height: 17vh !important;

    .home-footer-inner {
      background-color: #F4F4F4;
      width: 25%;
      height: 17vh;
      float: left;
      box-shadow: -4px 0px 5px -5px rgba(168,166,168,1);

      img {
        margin-top: 3vh;
        height: 8vh;
      }
    }

  }

  .home-footer-div {
    width: 100%;
    height: 50px !important;
    min-height: 50px !important;
  }

  .home-footer .toolbar-background {
    background-color: white !important;
  }

}
