page-coupons {

  .choice {
    margin-bottom: 5px;
  }

  .company-homepage {
    text-align: center;
    //position: absolute;
    //top: 5px;
    font-size: 9px;
    color: color($colors, primary);

    img {
      height: 20px;
      width: 20px;
    }
  }

  .coupon-price {
    background: color($colors, primary) !important;
    color: color($colors, secondary) !important;
    padding: 5px;
    width: 30%;
    text-align: center;
    margin-top: 3.5vh;
  }

  .couponUse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .company-logo {
    padding-right: 5px !important;
  }

  .company-logo div {
    height: 13vh;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  ion-select {
    max-width: 100% !important;
    font-size: $h6-font-size;
  }

  .couponDisabled {
    background-color: #FAE6FF !important;
  }

  .couponUseDisabled {
    background-color: #CFAAD5 !important;
  }

  .coin-icon {
    height: 14px;
    padding-top: 4px;
  }
}
