<ion-header>

    <common-header title='{{"MENU.SHOP" | translate}}'></common-header>

</ion-header>

<ion-content>

    <ion-row align-items-center class="greyRow choice" *ngIf="company_id === 0">

        <ion-col col-6 text-right>
            <ion-select [(ngModel)]="region" (ionChange)="filterCoupons()">
                <ion-option [value]="0">{{"ALL.CHOOSEREGION" | translate}}</ion-option>
                <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
            </ion-select>
        </ion-col>
        <ion-col col-6 text-right>
            <ion-select [(ngModel)]="category" (ionChange)="filterCoupons()">
                <ion-option [value]="0">{{"ALL.CHOOSECATEGORY" | translate}}</ion-option>
                <ion-option *ngFor="let category of company_categories" [value]="category.id">{{category.title}}
                </ion-option>
            </ion-select>
        </ion-col>

    </ion-row>

    <ion-grid *ngFor="let company of filteredCompanies" no-padding>

        <ion-list *ngIf="company.coupons && company.coupons.length !== 0" no-margin>

            <ion-row nowrap align-items-stretch *ngFor="let coupon of company.coupons">

                <ion-col no-border no-padding no-margin class="company-logo" (click)="goToCoupon(coupon, 0, company)">
                    <div background-image [source]="coupon.image" *ngIf="coupon.image !== ''"></div>
                    <div background-image [source]="company.logo" *ngIf="coupon.image === ''"></div>
                    <div background-image [source]="'assets/images/logo.png'" *ngIf="company.logo === '' && coupon.image === ''"></div>
                </ion-col>
                <ion-col col-5 (click)="goToCoupon(coupon, 0, company)">
                    <div><b>{{coupon.title}}</b></div>
                    <div>{{company.title}}</div>
                    <div class="coupon-price"> {{coupon.price}} <img src="assets/images/coin_icon_white.png" class="coin-icon"></div>
                </ion-col>
                <ion-col col-2 align-self-start>
                    <div class="company-homepage" (click)="goToCompany(company.id); $event.stopPropagation();">
                        <img src="assets/images/company_icon_1.png">
                        <div>{{"COUPONS.COMPANYPAGE" | translate}}</div>
                    </div>
                </ion-col>
                <ion-col col-2  (click)="useCoupon(company, coupon, coupon.price); $event.stopPropagation();" text-center class="primaryColor" style="border-bottom: 2px solid white;">
                    <div class="couponUse">
                        <div>
                            <div>+</div>
                            <div>{{"COUPONS.USE" | translate}}</div>
                        </div>
                    </div>
                </ion-col>

            </ion-row>

        </ion-list>

        <ion-list *ngIf="company.coupon" no-margin>

            <ion-row nowrap align-items-stretch class="couponDisabled">

                <ion-col no-border no-padding no-margin class="company-logo" (click)="goToCoupon(company.coupon, 0, company)">
                    <div background-image [source]="company.coupon.image" *ngIf="company.coupon.image !== ''"></div>
                    <div background-image [source]="company.logo" *ngIf="company.coupon.image === ''"></div>
                    <div background-image [source]="'assets/images/logo.png'" *ngIf="company.logo === '' && company.coupon.image === ''"></div>
                </ion-col>
                <ion-col col-5 (click)="goToCoupon(company.coupon, 0, company)">
                    <div><b>{{company.coupon.title}}</b></div>
                    <div>{{company.title}}</div>
                    <div class="coupon-price"> {{company.coupon.price}} <img src="assets/images/coin_icon_white.png" class="coin-icon"></div>
                </ion-col>
                <ion-col col-2 align-self-start>
                    <div class="company-homepage" (click)="goToCompany(company.id); $event.stopPropagation();">
                        <img src="assets/images/company_icon_1.png">
                        <div>{{"COUPONS.COMPANYPAGE" | translate}}</div>
                    </div>
                </ion-col>
                <ion-col col-2 text-center class="primaryColor" class="couponUseDisabled" style="border-bottom: 2px solid white;">
                    <div class="couponUse">
                        <div *ngIf="company.bought && company.bought === 1">{{"COUPONS.USED" | translate}}</div>
                    </div>
                </ion-col>

            </ion-row>

        </ion-list>

    </ion-grid>

    <!--<div *ngIf="companies === null">No coupons</div>-->

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>