page-coupon {

  ion-content {
    background-color: rgba(0,0,0,0.5) !important;
  }

  .custom-content {
    background-color: white;
    width: 90%;
    margin: 10vh auto 0 auto;
    padding: 5px;
  }

  .coupon-image {
    text-align: center;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .coupon-title {
    font-size: 20px;
  }

  .coupon-subtitle {
    font-size: 16px;
  }

  .coupon-description {
    padding: 5px;
  }

}
