<ion-content (click)="closeModal()">

    <div class="custom-content">

        <div *ngIf="state === 'qr'" text-center>
            <qr-code [value]="coupon.qr" [size]="250"></qr-code>
        </div>

        <div class="coupon-image" *ngIf="state === 'content'">
            <img [src]="coupon.image" *ngIf="coupon.image !== ''">
            <img [src]="coupon.company.logo" *ngIf="coupon.image === ''">
            <img src="assets/images/logo.png" *ngIf="coupon.company.logo === '' && coupon.image === ''">
        </div>

        <div *ngIf="state === 'content'">

            <div class="coupon-title"><b>{{coupon.title}}</b></div>
            <div class="coupon-subtitle"><b>{{coupon.company.title}}</b></div>

            <div><b>{{"COMPANYREGISTER.ADDRESS" | translate}}</b>: {{coupon.company.address}}</div>
            <div><b>{{"ALL.PHONE"  | translate}}</b>: <span dir="ltr">{{coupon.company.phone}}</span></div>

            <div class="coupon-description"><b>{{"COUPONS.DESCRIPTION" | translate}}</b>: {{coupon.description}}</div>

        </div>

    </div>

</ion-content>