<ion-header>

    <common-header title='{{"MENU.FEED" | translate}}'></common-header>

</ion-header>

<ion-content>

    <div *ngFor="let video of videos">

        <ion-row>
            <ion-item>
                <ion-avatar item-start (click)="goToUser(video.user.id)">
                    <img [src]="video.user.avatar">
                </ion-avatar>
                <div style="padding-right: 15px;" (click)="goToUser(video.user.id)">{{video.user.name}}</div>
                <div item-end fixed *ngIf="video.user.id !== auth.id">
                    <button ion-button color="primary" (click)="follow(video.user.id)" *ngIf="video.user.followed === 0">{{"FEED.FOLLOW" | translate}}</button>
                    <button ion-button color="light" (click)="unfollow(video.user.id)" *ngIf="video.user.followed === 1">{{"FEED.UNFOLLOW" | translate}}</button>
                </div>
            </ion-item>
        </ion-row>

        <div text-center style="width: 100%;">

            <ion-row style="height: 210px; margin: 0 auto;">
                <video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>
            </ion-row>

            <ion-row align-items-center>
                <ion-col col-10 text-start>
                    <div><b>{{video.title}}</b></div>
                    <div>{{video.company_category}} / {{video.company_subcategory}} / {{video.region}}</div>
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="share-alt" class="share-icon" (click)="share(video)"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row style="width: 100%;">
                <ion-list style="width: 100%;" no-margin>
                    <ion-item *ngFor="let comment of video.comments">
                        <ion-avatar item-start>
                            <img [src]="comment.user.avatar">
                        </ion-avatar>
                        <div>{{comment.content}}</div>
                    </ion-item>
                </ion-list>
            </ion-row>

            <ion-row>
                <ion-col col-10>
                    <ion-input type="text" [(ngModel)]="comment[video.id]" placeholder='{{"FEED.COMMENT" | translate}}' class="comment-input"></ion-input>
                </ion-col>
                <ion-col col-2>
                    <button small ion-button (click)="sendComment(video, comment[video.id])">{{"ALL.SEND" | translate}}</button>
                </ion-col>
            </ion-row>

        </div>

    </div>

    <ion-infinite-scroll (ionInfinite)="getMoreVideos($event)" *ngIf="!lastPage">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>