page-feed {

  ion-row[approxheaderwidth]{
    width: 100% !important;
  }

  .comment-input {
    background-color: transparent !important;
    border: 1px solid lightgrey !important;
    margin: 5px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    width: 100%;

    input {
      margin: 5px auto !important;
    }
  }

  video {
    max-height: 35vh;
  }
}
