<ion-header>

    <common-header title='{{"MENU.MAP" | translate}}'></common-header>

</ion-header>

<ion-content>

    <ion-row>
        <ion-segment [(ngModel)]="state" (ionChange)="filterCompanies()">
            <ion-segment-button value="business">
                {{"ALL.SHOPS" | translate }}
            </ion-segment-button>
            <ion-segment-button value="place">
                {{"ALL.PLACES" | translate }}
            </ion-segment-button>
            <ion-segment-button value="all">
                {{"ALL.ALL" | translate }}
            </ion-segment-button>
        </ion-segment>
    </ion-row>


    <agm-map [latitude]="coordinates.lat" [longitude]="coordinates.lng" [zoom]="zoom">

        <agm-marker [latitude]="coordinates.lat" [longitude]="coordinates.lng"></agm-marker>

        <agm-marker
                *ngFor="let company of filteredCompanies"
                [latitude]="company.lat"
                [longitude]="company.lng"
                [markerDraggable]="false"
                [iconUrl]="company.pin"
                (markerClick)="clickedMarker(company)">

            <!--<sebm-google-map-marker-->
                    <!--*ngFor="let m of markers; let i = index"-->
                    <!--(markerClick)="clickedMarker(m.label, i)"-->
                    <!--[latitude]="m.lat"-->
                    <!--[longitude]="m.lng"-->
                    <!--[label]="m.label"-->
                    <!--[markerDraggable]="m.draggable"-->
                    <!--(dragEnd)="markerDragEnd(m, $event)">-->

            <!--<agm-info-window></agm-info-window>-->

        </agm-marker>



    </agm-map>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>