<ion-content>

    <div class="popup-block" text-center>

        <ion-row padding class="popup-header">
            <ion-col>{{company.title}}</ion-col>
        </ion-row>

        <ion-row padding>
            <ion-col>
                <ion-icon class="big-star" *ngFor="let star of stars, let i = index" (click)="rate(i)" name="ios-star"
                          [ngClass]="{'yellow-star': star === true, 'grey-star': star === false}"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col col-6 no-padding>
                <div padding class="cancel-button" (click)="closeModal()">{{"ALL.CANCEL" | translate}}</div>
            </ion-col>
            <ion-col col-6 no-padding>
                <div padding class="send-button" (click)="sendRate()">{{"ALL.SUBMIT" | translate}}</div>
            </ion-col>
        </ion-row>

    </div>

</ion-content>
