page-rate {

  ion-content {
    background-color: rgba(0,0,0,0.5) !important;
  }

  .popup-block {
    background-color: white;
    width: 70%;
    margin: 20vh auto auto auto;
  }

  .popup-header {
    width: 100%;
    font-size: 25px;
    background-color: color($colors, primary);
    color: color($colors, secondary);
  }

  .cancel-button {
    font-size: 18px;
    width: 100%;
    background-color: color($colors, light);
    color: color($colors, primary);
  }

  .send-button {
    font-size: 18px;
    width: 100%;
    background-color: color($colors, primary);
    color: color($colors, secondary);
  }

  .big-star {
    font-size: 40px;
  }
}
