<ion-header>

    <common-header title='{{"MENU.COMPANYREGISTER" | translate}}'></common-header>

</ion-header>

<ion-content>

    <div class="div90" text-center>

        <div padding-top>If you are a hotel owner, please contact this phone: {{init.phone}}</div>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"COMPANYREGISTER.TITLE_HE" | translate}}' text-center [(ngModel)]="company.title_he"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"COMPANYREGISTER.TITLE_EN" | translate}}' text-center [(ngModel)]="company.title_en"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"COMPANYREGISTER.ADDRESS" | translate}}' text-center type="text" [(ngModel)]="company.address" id="company_address"></ion-input>
            </ion-item>

            <ion-item margin-top class="customSelect deleteLeftPadding">
                <ion-label color="primary">{{"ALL.CATEGORY" | translate}}</ion-label>
                <ion-select [(ngModel)]="company.company_category_id">
                    <ion-option *ngFor="let category of company_categories" [value]="category.id">{{category.title}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="company.company_category_id != ''" margin-top class="customSelect deleteLeftPadding">
                <ion-label color="primary">{{"ALL.SUBCATEGORY" | translate}}</ion-label>
                <ion-select [(ngModel)]="company.company_subcategory_id">
                    <ion-option
                            *ngFor="let subcategory of company_categories[company.company_category_id - 2].company_subcategories" [value]="subcategory.id">{{subcategory.title}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"ALL.PHONE" | translate}}' text-center type="tel" [(ngModel)]="company.phone"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"ALL.EMAIL" | translate}}' text-center type="email" [(ngModel)]="company.email"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input placeholder='{{"ALL.PASSWORD" | translate}}' text-center type="password" [(ngModel)]="company.password"></ion-input>
            </ion-item>

            <ion-item margin-top class="customSelect deleteLeftPadding">
                <ion-label color="primary">{{"ALL.REGION" | translate}}</ion-label>
                <ion-select [(ngModel)]="company.region_id">
                    <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-textarea placeholder='{{"COMPANYREGISTER.DESCRIPTION_HE" | translate}}' text-right [(ngModel)]="company.description_he"></ion-textarea>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-textarea placeholder='{{"COMPANYREGISTER.DESCRIPTION_EN" | translate}}' text-right [(ngModel)]="company.description_en"></ion-textarea>
            </ion-item>

        </ion-list>

        <button class="button-no-border" *ngIf="language === 'he'" ion-button outline no-border color="primary" (click)="submit()">
            {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
        </button>

        <button *ngIf="language === 'en'" class="button-no-border" ion-button outline no-border color="primary" (click)="submit()">
            {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
        </button>

    </div>

</ion-content>
