<ion-menu [content]="content" side="right">
    <ion-header>
        <ion-toolbar>
            <ion-row align-items-center>
                <ion-col col-3 text-center>
                    <div *ngIf="user.avatar" class="side-avatar" background-image [source]="user.avatar"
                         height="50"></div>
                    <div *ngIf="!user.avatar" class="side-avatar" background-image
                         [source]="'assets/images/avatar.jpg'" height="50"></div>
                </ion-col>
                <ion-col col-9 ion-text color="primary">
                    <div class="title-font">{{user.name}}</div>
                    <div><span class="title-font">{{user.points}}</span> {{"ALL.POINTS" | translate}}</div>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}"></ion-icon> &nbsp; {{p.title}}
            </button>
            <button menuClose ion-item (click)="selectLanguage()">
                <ion-icon name="flag"></ion-icon> &nbsp; <span>Change language</span>
            </button>
            <button menuClose ion-item (click)="watchVideo('explanation')">
                <ion-icon name="book"></ion-icon> &nbsp; <span>{{"MENU.GUIDE" | translate}}</span>
            </button>
            <button menuClose ion-item (click)="watchVideo('banner')">
                <ion-icon name="cash"></ion-icon> &nbsp; <span>{{"MENU.MONEY" | translate}}</span>
            </button>
            <button menuClose ion-item (click)="watchVideo('explanation_video')">
                <ion-icon name="camera"></ion-icon> &nbsp; <span>{{"MENU.VIDEOGUIDE" | translate}}</span>
            </button>
            <button menuClose ion-item (click)="logout()">
                <ion-icon name="exit"></ion-icon> &nbsp; <span>{{"MENU.LOGOUT" | translate}}</span>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>