.title-font {
  font-size: 20px;
}

.share-icon {
  font-size: 28px;
  color: color($colors, primary);
}

.has-common-footer {
  bottom: 10vh;
}

button[menuClose], .color-text .toolbar-title {
  color: color($colors, primary) !important;
}

ion-input, ion-select, .item-select .item-inner, ion-textarea {
  background: color($colors, light) !important;
  text-align: center !important;
}

.customSelect ion-label{
  padding-left: 15% !important;
}

.select-ios .select-icon .select-icon-inner, .select-md .select-icon .select-icon-inner {
  color: color($colors, primary) !important;
}

.item {
  padding-left: 8px !important;
}

.item-inner {
  padding-right: 0 !important;
}

.div90 {
  width: 90%;
  margin: 0 auto;
}

.button-no-border {
  border: none !important;
  font-size: 23px !important;
  line-height: 30px !important;
}

.login-bar {
  width: 70%;
  height: 50px;
  background-image: url('../assets/images/login_bar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: right;
  padding-right: 25px;
  color: white;
  font-weight: bold;
  line-height: 50px !important;
}

.fakeInput {
  font-size: 16px;
  background: color($colors, light) !important;
  text-align: center !important;
  width: 100%;
  margin-top: 13px;
  min-height: 44px;
  line-height: 44px;
  color: #999;
}

.primaryColor {
  background: color($colors, primary) !important;
  color: color($colors, secondary) !important;
}

.greyRow {
  background: color($colors, light) !important;
}

.row100 {
  width: 100%;
  overflow: hidden;
}

.videoUpload {
  width: 100%;
  height: 30vh;
  background: color($colors, light) !important;
  text-align: center;
  padding-top: 10vh;
  position: relative;
}

.deleteLeftPadding {
  padding-left: 0 !important;
}

.normalWhiteSpace{
  white-space:normal
}

.alert-title, .alert-radio-label {
  text-align: center;
}

.alert-radio-icon {
  min-width: 0 !important;
}

.side-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.yellow-star {
  color: #ffd821;
}

.grey-star {
  color: lightgrey;
}

video {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.78);
}

.small-video {
  video::-webkit-media-controls-panel {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

video::-webkit-media-controls-panel {
  background-color: rgba(0, 0, 0, 0.78);
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  color: white;
}

video::-webkit-media-controls-overlay-play-button {
  //background-image: url('../assets/images/play_button.png');
  //background-position: center;
  //background-size: 20%;
  //background-repeat: no-repeat;
}
