<ion-header>

    <ion-navbar color="primary" text-center>
        <ion-title>{{user.name}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
                {{"ALL.CLOSE" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-row margin-top align-items-center>
        <ion-col col-6>
            <ion-row>
                <ion-col col-4>
                    <div *ngIf="user.avatar !== ''" class="user-avatar" background-image [source]="user.avatar" height="50"></div>
                    <div *ngIf="user.avatar === ''" class="user-avatar" background-image [source]="'assets/images/avatar.jpg'" height="50"></div>
                </ion-col>
                <ion-col col-8>
                    <div>{{user.name}}</div>
                    <div dir="ltr">{{user.phone}}</div>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-6>
            <ion-row text-center ion-text color="primary">
                <ion-col col-3>
                    <div>{{user.followers}}</div>
                    <div class="small-font">{{"ALL.FOLLOWERS" | translate}}</div>
                </ion-col>
                <ion-col col-4>
                    <div>{{user.videos.length}}</div>
                    <div class="small-font">{{"ALL.VIDEOS" | translate}}</div>
                </ion-col>
                <ion-col col-5>
                    <div *ngIf="user.id !== auth.id">
                        <button ion-button small color="primary" (click)="follow(user.id)" *ngIf="user.followed === 0">{{"FEED.FOLLOW" | translate}}</button>
                        <button ion-button small color="light" (click)="unfollow(user.id)" *ngIf="user.followed === 1">{{"FEED.UNFOLLOW" | translate}}</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-col>
        <div class="vertical-line"></div>
    </ion-row>

    <div *ngFor="let video of user.videos" text-center padding-top>

        <video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>
        <ion-row align-items-center>
            <ion-col col-10 text-start>
                <div><b>{{video.pivot.tag}}</b></div>
                <div>{{video.company_category}} / {{video.company_subcategory}} / {{video.region}}</div>
            </ion-col>
            <ion-col col-2 text-center>
                <ion-icon name="share-alt" class="share-icon" (click)="share(video)"></ion-icon>
            </ion-col>
        </ion-row>

    </div>

</ion-content>
