page-user {
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .small-font {
    font-size: 10px;
  }

  .vertical-line {
    position: absolute;
    top: 16px;
    left: 50%;
    height: 60px;
    width: 1px;
    background-color: black;
  }
}
