<ion-header>
    <common-header title='{{"MENU.NOTIFICATIONS" | translate}}'></common-header>
</ion-header>

<ion-content>

    <div *ngIf="notifications && notifications.length">
        <!--<ion-card *ngFor="let notification of notifications">-->

            <!--<ion-card-content>-->
               <!--{{notification.content}}-->
            <!--</ion-card-content>-->

        <!--</ion-card>-->
        <ion-row padding *ngFor="let notification of notifications">
            <ion-col col-12>
                {{notification.content}}
            </ion-col>
        </ion-row>

    </div>

</ion-content>
