<ion-content [ngClass]="{'picture-background' : entity !== 'explanation' && entity !== 'banner' && entity !== 'explanation_video'}">

    <div class="close" *ngIf="entity !== 'facebook' && entity !== 'explanation' && entity !== 'banner' && entity !== 'explanation_video'" (click)="closeModal()">
        <img src="assets/images/x.png" height="20">
    </div>

    <div class="close" *ngIf="entity === 'facebook' && entity !== 'explanation' && entity !== 'banner' && entity !== 'explanation_video'" (click)="close()">
        <img src="assets/images/x.png" height="20">
    </div>

    <!--Coupon-->

    <div class="popup-content" *ngIf="entity === 'coupon'">

        <div class="big-text coupon-text">{{"FACEBOOK.THANKYOU" | translate}}</div>
        <div class="big-text">{{"FACEBOOK.FORUSINGIT" | translate}}!</div>
        <div class="coupon-text">{{"FACEBOOK.PLEASESHARE" | translate}}</div>

        <button ion-button class="share-button" small (click)="share(); $event.stopPropagation();">
            <img src="assets/images/share.png">
        </button>

    </div>

    <!--Code-->

    <div class="popup-content" text-center *ngIf="entity === 'code'" (click)="$event.stopPropagation();">

        <div class="average-text">{{"FACEBOOK.PLEASEENTERCODE" | translate}}</div>

        <div>
            <ion-input text-center placeholder='{{"FACEBOOK.CODE" | translate}}' class="code-input" type="text" [(ngModel)]="code"></ion-input>
        </div>

        <button class="confirm-button" *ngIf="language === 'he'" ion-button small (click)="validateCode(); $event.stopPropagation();">
            {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="15">
        </button>

        <button class="confirm-button" *ngIf="language === 'en'" ion-button small (click)="validateCode(); $event.stopPropagation();">
            {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="15">
        </button>

    </div>

    <!--Facebook-->

    <div class="popup-content" *ngIf="entity === 'facebook'" padding-top>

        <div margin-top>{{"FACEBOOK.SHAREUS" | translate}}</div>
        <div>{{"FACEBOOK.GETPOINTS" | translate:param }}</div>

        <button margin-top ion-button small class="share-button" (click)="shareCode(); $event.stopPropagation();">
            <img src="assets/images/share.png">
        </button>

    </div>

    <div class="popup-content" *ngIf="entity === 'code_succeed'" padding-top>

        <div class="big-text">{{"POPUPS.RECEIVED" | translate}}</div>
        <div class="big-text">{{userReward}} {{"POPUPS.POINTS" | translate }}</div>

        <div>
            <button class="confirm-button" ion-button small (click)="goToMap(); $event.stopPropagation();">
                {{"POPUPS.MAP" | translate}}
            </button>
            <button class="confirm-button" ion-button small (click)="goToShop(); $event.stopPropagation();">
                {{"POPUPS.SHOP" | translate}}
            </button>
        </div>
    </div>

    <!--Points-->

    <div class="popup-content" *ngIf="entity === 'points'" padding-top>

        <div margin-top>{{"FACEBOOK.YOUHAVEONLY" | translate}}</div>
        <div>{{init.user.points}} {{"ALL.POINTS" | translate}}.</div>
        <div>{{"FACEBOOK.GET1" | translate}}</div>
        <div>{{"FACEBOOK.GET2" | translate}}</div>

        <button class="confirm-button" *ngIf="language === 'he'" ion-button small (click)="showExplanationVideo(); $event.stopPropagation();">
            {{"FACEBOOK.WATCH" | translate}}
        </button>

        <button class="confirm-button" *ngIf="language === 'en'" ion-button small (click)="showExplanationVideo(); $event.stopPropagation();">
            {{"FACEBOOK.WATCH" | translate}}
        </button>
    </div>

    <div class="popup-content-block" *ngIf="entity === '3dollars'" padding-top>

        <div class="average-text">
            {{"POPUPS.3DOLLARS" | translate}}
            <img src="assets/images/coin.png" height="14">
            {{"POPUPS.3DOLLARS2" | translate}}
        </div>

    </div>

    <!--Explanation-->

    <div *ngIf="entity === 'explanation'">

        <div class="video-content">
            <div class="close-video-button" (click)="closeModalForVideo()">
                <img src="assets/images/x.png" height="20">
            </div>
            <div class="video-preloader">
                <div><ion-spinner name="ios"></ion-spinner></div>
                <div>{{"FACEBOOK.LOADING" | translate}}</div>
            </div>
            <div style="z-index: 100;">
                <iframe class="video-frame" [src]="youtubeVideos.explanation.sanitizedUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <!--Banner-->

    <div *ngIf="entity === 'banner'">

        <div class="video-content">
            <div class="close-video-button" (click)="closeModalForVideo()">
                <img src="assets/images/x.png" height="20">
            </div>
            <div class="video-preloader">
                <div><ion-spinner name="ios"></ion-spinner></div>
                <div>{{"FACEBOOK.LOADING" | translate}}</div>
            </div>
            <div style="z-index: 100;">
                <iframe class="video-frame" [src]="youtubeVideos.banner.sanitizedUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <!--Explanation video-->

    <div *ngIf="entity === 'explanation_video'">

        <div class="video-content">
            <div class="close-video-button" (click)="closeModalForVideo()">
                <img src="assets/images/x.png" height="20">
            </div>
            <div class="video-preloader">
                <div><ion-spinner name="ios"></ion-spinner></div>
                <div>{{"FACEBOOK.LOADING" | translate}}</div>
            </div>
            <div style="z-index: 100;">
                <iframe class="video-frame" [src]="youtubeVideos.explanation_video.sanitizedUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>

</ion-content>
