page-facebook {

  ion-content {
    background-color: rgba(0,0,0,0.5) !important;
  }

  .picture-background {
    background-image: url('../assets/images/popup.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .video-content {
    margin-top: 20vh;
    position: relative;
    width: 100%;
    height: 33vh;
  }

  .video-preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    z-index: -1;
    background-color: black;
    padding-top: 50px;
  }

  .video-frame {
    width: 100%;
    height: 33vh;
    z-index: 100
  }

  .code-input .input-cover {
    display: none;
  }

  .close-video-button {
    position: absolute;
    top: -30px;
    right: 10px;
    z-index: 100;
  }

  .close {
    position: absolute;
    top: 25%;
    right: 15%;
  }

  .coupon-text {
    margin-top: 5px;
  }

  .popup-content {
    color: white;
    position: absolute;
    top: 39vh;
    right: 0;
    left: 0;
    text-align: center;

    .share-button {
      width: 40%;
      margin: 5px auto 0 auto;
      background-color: transparent
    }
  }

  .popup-content-block {
    color: white;
    position: absolute;
    top: 37vh;
    right: 33%;
    left: 33%;
    text-align: center;
  }

  .big-text {
    font-size: 150%;
  }

  .average-text {
    font-size: 120%;
    margin-top: 20px;
  }

  ion-input {
    background: color($colors, secondary);
    width: 40%;
    margin: 5px auto;
    color: black;
  }

  .confirm-button {
    background-color: color($colors, secondary);
    color: color($colors, primary);
  }

}
