common-header {
  align-items: center;

  .progress-bar-empty {
    background-color: grey;
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .progress-bar-full {
    background-color: blue;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .points {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 15px;
    margin-right: 5px;
    color: white;
    padding-top: 5px;
    font-size: 12px;
  }

  [dir="ltr"] .bar-button-menutoggle-ios,
  [dir="rtl"] .bar-button-menutoggle-ios,
  [dir="ltr"] .bar-button-menutoggle-md,
  [dir="rtl"] .bar-button-menutoggle-md {
    margin-top: 5px;
  }
}
