<ion-header>

    <common-header title='{{"ALL.UPLOAD" | translate}}'></common-header>

</ion-header>

<ion-content>

    <ion-row>
        <button class="user-reviews-button" margin block ion-button color="primary" (click)="goToExplanation()">
            {{"UPLOAD.EXPLANATION" | translate}}
            <ion-icon name="ios-arrow-forward" [ngClass]="{'icon-arrow1' : language === 'he', 'icon-arrow2' : language === 'en'}"></ion-icon>
        </button>
    </ion-row>

    <div class="div90" text-center>

        <ion-list no-lines>

            <ion-item class="deleteLeftPadding" margin-top>
                <ion-input text-center placeholder='{{"UPLOAD.FEWWORDS" | translate}}' type="text" [(ngModel)]="title"></ion-input>
            </ion-item>

            <div *ngIf="company_id === 0">
                <ion-item margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">{{"ALL.REGION" | translate}}</ion-label>
                    <ion-select [(ngModel)]="region_id" (ionBlur)="getCompanies('region')">
                        <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">{{"ALL.CATEGORY" | translate}}</ion-label>
                    <ion-select [(ngModel)]="category_id" (ionBlur)="getCompanies('category')">
                        <ion-option *ngFor="let category of company_categories" [value]="category.id">{{category.title}}
                        </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="category_id != 0" margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">{{"ALL.SUBCATEGORY" | translate}}</ion-label>
                    <ion-select [(ngModel)]="subcategory_id" (ionBlur)="getCompanies('subcategory')">
                        <ion-option
                                *ngFor="let subcategory of company_categories[category_id - 1].company_subcategories"
                                [value]="subcategory.id">{{subcategory.title}}
                        </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="companies.length > 0" margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">{{"UPLOAD.EXISTINGPLACES" | translate}}</ion-label>
                    <ion-select [(ngModel)]="company" (ionBlur)="loadMaps()">
                        <ion-option *ngFor="let company of companies" [value]="company.id">{{company.title}}</ion-option>
                        <ion-option [value]="-1">{{"UPLOAD.ADDNEWPLACE" | translate}}</ion-option>
                    </ion-select>
                </ion-item>

                <div *ngIf="(companies.length == 0 && subcategory_id != 0) || company == -1">

                    <div margin-vertical *ngIf="companies.length == 0">{{"UPLOAD.NOCOMPANIES" | translate}}</div>

                    <ion-item margin-top class="deleteLeftPadding">
                        <ion-input text-center placeholder='{{"UPLOAD.NAME" | translate}}' type="text" [(ngModel)]="place"></ion-input>
                    </ion-item>

                    <ion-item margin-top class="deleteLeftPadding">
                        <ion-input placeholder='{{"COMPANYREGISTER.ADDRESS" | translate}}' text-center type="text" [(ngModel)]="address" id="address"></ion-input>
                    </ion-item>

                </div>

            </div>

            <div *ngIf="process === false" margin-top>
                <video *ngIf="src" [src]="src" controls controlsList="nodownload"></video>
            </div>

            <div *ngIf="process === true" class="videoUpload" margin-top>
                <ion-spinner name="ios"></ion-spinner>
                <div>{{"ALL.UPLOADINGINPROGRESS" | translate}}: {{progress}}% </div>
                <button ion-button color="primary" small (click)="abort()" class="cancel-button">{{"ALL.CANCEL" | translate}}</button>
            </div>

            <div margin-top style="color: grey; font-size: 12px;" text-start>
                {{"UPLOAD.MAXIMUM" | translate}}
            </div>

            <div margin-top>
                <img *ngIf="utils.language === 'he'" src="assets/images/upload_he.jpg" style="width: 100%;" add-video (targetVideo)="setVideo($event)">
                <img *ngIf="utils.language === 'en'" src="assets/images/upload_en.jpg" style="width: 100%;" add-video (targetVideo)="setVideo($event)">
            </div>

            <div margin-top *ngIf="language === 'he'">

                <button class="button-no-border" ion-button outline no-border no-margin color="primary" [disabled]="process" *ngIf='company_id == 0' (click)="collect()">
                    {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
                </button>

                <button class="button-no-border" ion-button outline no-border no-margin color="primary" [disabled]="process" *ngIf='company_id > 0' (click)="check()">
                    {{"ALL.SUBMIT" | translate}}&nbsp;<img src="assets/images/arrows_left.png" height="25">
                </button>

            </div>

            <div margin-top *ngIf="language === 'en'">

                <button class="button-no-border" ion-button outline no-border no-margin color="primary" [disabled]="process" *ngIf='company_id == 0' (click)="collect()">
                    {{"ALL.UPLOAD" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
                </button>

                <button class="button-no-border" ion-button outline no-border no-margin color="primary" [disabled]="process" *ngIf='company_id > 0' (click)="check()">
                    {{"ALL.UPLOAD" | translate}}&nbsp;<img src="assets/images/arrows_right.png" height="25">
                </button>

            </div>

        </ion-list>

    </div>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>