page-upload {
  video {
    width: 100%;
    height: 33vh;
  }

  ion-item {
    padding-right: 0 !important;

    .item-inner {
      padding-left: 0 !important;
    }
  }

  .fakeInputItem ion-label {
    padding-right: 0 !important;
  }

  .cancel-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .user-reviews-button {
    border-radius: 8px !important;
    position: relative;
  }

  .icon-arrow1 {
    position: absolute;
    top: 5px;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px !important;
  }

  .icon-arrow2 {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px !important;
  }

}
