page-companies {

  ion-select {
    max-width: 80% !important;
    font-size: $h6-font-size;
  }

  ion-label[fixed] {
    width: 30%;
    padding: 5px;
  }

  .smallText {
    font-size: 80%;
  }

  .list .item-block:first-child {
    border: 0;
  }

  ion-scroll {
    height: 35vh;
    white-space: nowrap;
  }

  .video-block {
    display: inline-block;
    width: 60vw;
    height: 35vh;
    padding: 0 10px;

    video {
      height: 18vh;
    }

    .item {
      padding: 0 !important;
    }
  }

  .user-reviews-button {
    border-radius: 8px !important;
    position: relative;
  }

  .icon-arrow1 {
    position: absolute;
    top: 8px;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px !important;
  }

  .icon-arrow2 {
    position: absolute;
    top: 8px;
    right: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px !important;
  }
}
