<ion-header>

    <picture-header></picture-header>

</ion-header>

<ion-content>

    <ion-row align-items-center class="greyRow">

        <ion-col col-6 text-right>
            <ion-select [(ngModel)]="region_id" (ionChange)="filterCompanies()">
                <ion-option [value]="0">{{"ALL.REGION" | translate}}</ion-option>
                <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
            </ion-select>
        </ion-col>
        <ion-col>
            <ion-select [(ngModel)]="company_subcategory_id" (ionChange)="filterCompanies()" *ngIf="category !== 0">
                <ion-option [value]="0">{{"ALL.SUBCATEGORY" | translate}}</ion-option>
                <ion-option
                        *ngFor="let subcategory of company_categories[company_category_id - 1].company_subcategories" [value]="subcategory.id">{{subcategory.title}}
                </ion-option>
            </ion-select>
        </ion-col>

    </ion-row>

    <ion-row>
        <button margin class="user-reviews-button" block ion-button color="primary" (click)="goToUserReviews()">
            {{"ALL.USERREVIEWS" | translate}}
            <ion-icon name="ios-arrow-forward" [ngClass]="{'icon-arrow1' : language === 'he', 'icon-arrow2' : language === 'en'}"></ion-icon>
        </button>
    </ion-row>

    <ion-list *ngIf="companies.length > 0" no-padding no-margin no-border>

        <ion-item *ngFor="let company of filteredCompanies" (click)="goToCompany(company.id)">

            <ion-label fixed no-margin>
                <img [src]="company.logo" *ngIf="company.logo != ''">
                <img src="assets/images/logo.png" *ngIf="company.logo == ''">
            </ion-label>
            <div item-content>
                <div><b>{{company.title}}</b></div>
                <div>
                    <ion-icon  *ngFor="let star of company.stars" name="ios-star" [ngClass]="{'yellow-star': star === true, 'grey-star': star === false}"></ion-icon>
                </div>
                <div class="smallText">{{company.address}}</div>
                <div class="smallText" style="padding-bottom: 5px;">{{company.phone}}</div>
            </div>
            <div item-end>
                <img *ngIf="language === 'he'" src="assets/images/arrows_left.png" width="20">
                <img *ngIf="language === 'en'" src="assets/images/arrows_right.png" width="20">
            </div>

        </ion-item>

    </ion-list>

</ion-content>

<ion-footer>

    <!--<div *ngIf="user_reviews.length > 0 && (company_category_id === 3 || company_category_id === 4)">-->

        <!--<ion-scroll scrollX="true">-->

            <!--<div *ngFor="let video of user_reviews" class="video-block small-video" text-center>-->

                <!--<ion-item no-padding (click)="goToUser(video.user.id)">-->
                    <!--<ion-avatar item-start>-->
                        <!--<img [src]="video.user.avatar" *ngIf="video.user.avatar !== ''">-->
                        <!--<img src="assets/images/avatar.jpg" *ngIf="video.user.avatar === ''">-->
                    <!--</ion-avatar>-->
                    <!--<div>{{video.user.name}}</div>-->
                <!--</ion-item>-->
                <!--<video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>-->
                <!--<div>{{video.pivot.tag}}</div>-->

            <!--</div>-->

        <!--</ion-scroll>-->

    <!--</div>-->

    <common-footer></common-footer>
</ion-footer>