<ion-header>

    <common-header title='{{"MENU.SOCIALNETWORK" | translate}}'></common-header>

</ion-header>

<ion-content>

    <ion-row class="search-row">

        <ion-searchbar
            [(ngModel)]="search"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)"
            placeholder='{{"ALL.SEARCHUSER" | translate}}'
            class="customPlaceholder">
        </ion-searchbar>

    </ion-row>

    <!--Old approach with virtualScroll-->

    <!--<div [virtualScroll]="filteredVideos" [headerFn]="extractHeader" approxItemHeight="400px">-->

        <!--<div *virtualHeader="let header" approxHeaderWidth="100%">-->
            <!--<ion-item>-->
                <!--<ion-avatar item-start (click)="goToUser(header.id)">-->
                    <!--<img [src]="header.avatar" *ngIf="header.avatar !== ''">-->
                    <!--<img src="assets/images/avatar.jpg" *ngIf="header.avatar === ''">-->
                <!--</ion-avatar>-->
                <!--<div style="padding-right: 15px;">-->
                    <!--<span (click)="goToUser(header.id)">{{header.name}}</span>-->
                    <!--<span (click)="goToFriends(header.id);"><ion-icon name="people"></ion-icon></span>-->
                <!--</div>-->
                <!--<div item-end fixed *ngIf="header.id !== user.id">-->
                    <!--<button ion-button color="primary" (click)="follow(header.id)" *ngIf="header.followed === 0">{{"FEED.FOLLOW" | translate}}</button>-->
                    <!--<button ion-button color="light" (click)="unfollow(header.id)" *ngIf="header.followed === 1">{{"FEED.UNFOLLOW" | translate}}</button>-->
                <!--</div>-->
            <!--</ion-item>-->
        <!--</div>-->

        <!--<div *virtualItem="let video" text-center style="width: 100%;">-->

            <!--<ion-row>-->
                <!--<video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>-->
            <!--</ion-row>-->

            <!--<ion-row style="padding: 5px;"><b>{{video.title}}</b></ion-row>-->

            <!--<ion-row (click)="showMore(video)" class="previous-comments" *ngIf="video.openedComments === 0 && video.comments.length > 2" text-center><ion-col>Show more</ion-col></ion-row>-->
            <!--<div *ngIf="video.openedComments === 1 && video.comments.length > 2">-->
                <!--<div *ngFor="let comment of video.comments">-->
                    <!--<ion-row>-->
                        <!--<ion-col col-2 text-center>-->
                            <!--<div class="avatar" background-image [source]="comment.user.avatar"></div>-->
                        <!--</ion-col>-->
                        <!--<ion-col col-10>-->
                            <!--<div text-start style="padding-top: 5px;">{{comment.content}}</div>-->
                        <!--</ion-col>-->
                    <!--</ion-row>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div *ngIf="video.openedComments === 0 && filteredVideos.length > 0">-->
                <!--<div *ngFor="let comment of video.comments; let i = index">-->
                    <!--<ion-row *ngIf="i == (video.comments.length - 1) || i == (video.comments.length - 2)">-->
                        <!--<ion-col col-2 text-center>-->
                            <!--<div class="avatar" background-image [source]="comment.user.avatar"></div>-->
                        <!--</ion-col>-->
                        <!--<ion-col col-10>-->
                            <!--<div text-start style="padding-top: 5px;">{{comment.content}}</div>-->
                        <!--</ion-col>-->
                    <!--</ion-row>-->
                <!--</div>-->
            <!--</div>-->

            <!--<ion-row *ngIf="filteredVideos.length > 0">-->
                <!--<ion-col col-10>-->
                    <!--<ion-input type="text" [(ngModel)]="comment[video.id]" placeholder='{{"FEED.COMMENT" | translate}}' class="comment-input"></ion-input>-->
                <!--</ion-col>-->
                <!--<ion-col col-2>-->
                    <!--<button small ion-button (click)="sendComment(video, comment[video.id])">{{"ALL.SEND" | translate}}</button>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        <!--</div>-->

    <!--</div>-->

    <!--Temporary solution-->

    <div *ngFor="let video of filteredVideos">

        <div>
            <ion-item>
                <ion-avatar item-start (click)="goToUser(video.user.id)">
                    <img [src]="video.user.avatar" *ngIf="video && video.user && video.user.avatar !== ''">
                    <img src="assets/images/avatar.jpg" *ngIf="video && video.user && video.user.avatar === ''">
                </ion-avatar>
                <div style="padding-right: 15px;">
                    <span (click)="goToUser(video.user.id)">{{video.user.name}}</span>
                    <span (click)="goToFriends(video.user.id);"><ion-icon name="people"></ion-icon></span>
                </div>
                <div item-end fixed *ngIf="video.user.id !== user.id">
                    <button ion-button color="primary" (click)="follow(video.user.id)" *ngIf="video.user.followed === 0">{{"FEED.FOLLOW" | translate}}</button>
                    <button ion-button color="light" (click)="unfollow(video.user.id)" *ngIf="video.user.followed === 1">{{"FEED.UNFOLLOW" | translate}}</button>
                </div>
            </ion-item>
        </div>

        <div text-center style="width: 100%;">

            <ion-row>
                <video my-video [source]="video.url" controls controlsList="nodownload" poster="{{video.thumbnail}}"></video>
            </ion-row>

            <ion-row align-items-center>
                <ion-col col-10 text-start>
                    <div><b>{{video.title}}</b></div>
                    <div>{{video.company_category}} / {{video.company_subcategory}} / {{video.region}}</div>
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="share-alt" class="share-icon" (click)="share(video)"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row (click)="showMore(video)" class="previous-comments" *ngIf="video.openedComments === 0 && video.comments.length > 2" text-center><ion-col>Show more</ion-col></ion-row>
            <div *ngIf="video.openedComments === 1 && video.comments.length > 2">
                <div *ngFor="let comment of video.comments">
                    <ion-row>
                        <ion-col col-2 text-center>
                            <div class="avatar" background-image [source]="comment.user.avatar"></div>
                        </ion-col>
                        <ion-col col-10>
                            <div text-start style="padding-top: 5px;">{{comment.content}}</div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <div *ngIf="video.openedComments === 0 && filteredVideos.length > 0">
                <div *ngFor="let comment of video.comments; let i = index">
                    <ion-row *ngIf="i == (video.comments.length - 1) || i == (video.comments.length - 2)">
                        <ion-col col-2 text-center>
                            <div class="avatar" background-image [source]="comment.user.avatar"></div>
                        </ion-col>
                        <ion-col col-10>
                            <div text-start style="padding-top: 5px;">{{comment.content}}</div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>

            <ion-row *ngIf="filteredVideos.length > 0">
                <ion-col col-10>
                    <ion-input type="text" [(ngModel)]="comment[video.id]" placeholder='{{"FEED.COMMENT" | translate}}' class="comment-input"></ion-input>
                </ion-col>
                <ion-col col-2>
                    <button small ion-button (click)="sendComment(video, comment[video.id])">{{"ALL.SEND" | translate}}</button>
                </ion-col>
            </ion-row>
        </div>

    </div>

    <ion-infinite-scroll (ionInfinite)="getMoreVideos($event)" *ngIf="!lastPage">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <common-footer></common-footer>
</ion-footer>