<ion-header>

    <common-header title="{{'MENU.FAQ' |  translate}}"></common-header>

</ion-header>

<ion-content>

    <ion-list>
        <div *ngFor="let item of faq">
            <button ion-item (click)="openItem(item)">
                <div item-content>{{item.question}}</div>
            </button>
            <ion-item *ngIf="item.state && item.state === 'expanded'">
                <div item-content [innerHTML]='item.answer' class="faq-text"></div>
            </ion-item>
        </div>

    </ion-list>

</ion-content>
