page-faq {
  ion-label {
    width: 0 !important;
    max-width: 0 !important;
  }

  .item {
    color: color($colors, primary) !important;
  }

  .item-inner {
    border-bottom-color: color($colors, primary) !important;
  }

  .faq-text {
    padding: 10px 0;
  }
}
